<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand"><img src="Falcon-7.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href=""><i class="fa fa-home" aria-hidden="true"></i> Домой</a></li>
        <li><a href="#teach"><i class="fa fa-user" aria-hidden="true"></i> Преподаватели</a></li>
        <li><a href="#wb"><i class="fa fa-question-circle" aria-hidden="true"></i> О нас</a></li>
        <li><a href="#dg" class="disabled"><i class="fa fa-file-image-o" aria-hidden="true"></i> Галерея</a></li>
        <li><a href="#r"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Пробный урок</a></li>
        <li><a href="#f"><i class="fa fa-book" aria-hidden="true"></i> Контакты</a></li>
        <li>
          <a data-toggle="modal" data-target=".bd-modal-sm" href="#" href="#" class="disabled"><i class="fa fa-arrow-down" aria-hidden="true"></i>
            Договор</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade bd-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-sm-4"></div>
        <div class="col-sm-5">
          <a href=<%= welcome_download_path(file_name: 'dogovor.doc') %>><i class="fa fa-book" aria-hidden="true"></i>Договор</a><br/>
          <a href=<%= welcome_download_path(file_name: 'anketa-zayavlenie.docx') %>><i class="fa fa-book" aria-hidden="true"></i>Анкета</a><br/>
          <a href=<%= welcome_download_path(file_name: 'odezhda.doc') %>><i class="fa fa-book" aria-hidden="true"></i>Одежда</a></li>
          <br/>
          <a href=<%= welcome_download_path(file_name: 'pravila_shkoly_tantsev.docx') %>><i class="fa fa-book" aria-hidden="true"></i>Правила</a><br/>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->
        <%= link_to 'Close', root_path %>
      </div>
    </div>
  </div>
</div>
<div id="up">
  <a href="#headerwrap" style="color: #7b7b7b">
    <p class="pPageScroll"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></p></a></div>
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Бальные танцы</h1>
        <h2>FALCON</h2>
      </div>
    </div>
  </div>

</div>
<div id="teach">
  <div class="container-fluid w" style="background-color: #eaebef">
    <div class="row centered">
      <h1>Наши тренеры</h1>
      <div class="col-lg-6">
        <h4>Петров Петр Иванович</h4>
        <img class="ds" src="IMG_5990.jpg">
        <p>adadadadsdadsadasdadddd
          sdfsdfsdf
          sfdsdfds
          ddddddddddddddddd ddddddddddddddddddddd
          d d d d d d d d dm m k k k k k k k k d d d
        </p>
      </div>
      <div class="col-lg-6">
        <h4>Петров Петр Иванович</h4>
        <img class="ds" src="IMG_64532.jpg">
        <p>adadadadsdadsadasdadddd
          sdfsdfsdf
          sfdsdfds
          ddddddddddddddddd ddddddddddddddddddddd
          d d d d d d d d dm m k k k k k k k k d d d
        </p>
      </div>
    </div>
  </div>
</div>
<div id="wb">
  <div class="container-fluid wb">
    <div class="row centered">
      <h1>Наши услуги</h1>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="PxuXNyB5js0.jpg" alt="">
          <div class="overlay">
            <h2>Обучение танцам</h2>
            <p>
              Европейские танцы<br>
              &nbsp;&nbsp;&nbsp;Медленный вальс<br>
              &nbsp;&nbsp;&nbsp;Танго<br>
              &nbsp;&nbsp;&nbsp;Венский вальс<br>
              &nbsp;&nbsp;&nbsp;Фокстрот<br>
              &nbsp;&nbsp;&nbsp;Квикстеп<br><br>
              Латиноамериканские танцы<br>
              &nbsp;&nbsp;&nbsp;Самба<br>
              &nbsp;&nbsp;&nbsp;Ча-ча-ча<br>
              &nbsp;&nbsp;&nbsp;Румба<br>
              &nbsp;&nbsp;&nbsp;Джаив<br>
              &nbsp;&nbsp;&nbsp;Пасодобль<br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="rWxKwMosY6w.jpg" alt="">
          <div class="overlay">
            <h2>Детская хореография</h2>
            <p>
              Дети, занимающиеся танцами, развиваются гораздо быстрее и достигают больших успехов в жизни, чем их
              ровесники, которые не танцуют. Много докторов признают, что программа танцев для детей дает не только
              обучение классическим и современным направлениям, но и предлагает решение многих проблем, таких как
              скованность, стеснительность. Танцы помогают ребенку раскрыться, почувствовать свое тело, применять
              пластику для выражения его эмоций и чувств.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="322.jpg" alt="">
          <div class="overlay">
            <h2>Свадебный танец</h2>
            <p>
              Медленный вальс Аргентинское танго<br>
              Акробатический рок& ролл (или линдихоп)<br>
              Модерн, сальса, бачата<br>
              Латина (румба, ча-ча-ча)<br>
              Свадебный микс
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="r6YEgXfOq7U.jpg" alt="">
          <div class="overlay">
            <h2>Выступления</h2>
            <p>
              Турниры<br>
              &nbsp;&nbsp;&nbsp;Клубные<br>
              &nbsp;&nbsp;&nbsp;Городские<br>
              &nbsp;&nbsp;&nbsp;Республиканские<br><br>
              Различные мероприятия<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>Галерея</h4>
      <div class="col-lg-4">
        <div class="tilt">
          <img id=size src="6N6iC_Ns-U8.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tilt">
          <img id=size src="MesiKEWd6rc.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tilt">
          <img id=size src="t8Bt_OtTuhE.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tilt">
          <img id=size src="rltLIEiqFEI.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tilt">
          <img id=size src="OTSYxFBi-Pw.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tilt">
          <img id=size src="a8UepHNlUQc.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="lg">
  <div class="container">
    <div class="row centered">
      <h4>Наши новости</h4>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h1><%= @posts[0].title  %></h1>
          <img src="<%= @posts[0].image %>">
          <p><%= @posts[0].body  %></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h1><%= @posts[1].title %></h1>
          <img src="<%= @posts[1].image %>">
          <p><%= @posts[1].body %></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h1><%= @posts[2].title %></h1>
          <img src="<%= @posts[2].image %>">
          <p><%= @posts[2].body %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Записаться на пробный урок</h4>
        <br><br>
        <div class="subscribe" id="subscribe">
          <%= form_for @order, remote: true do |f| %>
              <%= f.text_field :name, placeholder: 'Введите имя' %>
              <%= f.text_field :number, placeholder: 'Введите номер' %>
              <%= f.submit 'Записаться', id: 'order_btn' %>
          <% end %>
          <div id="message-field"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-vk"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="row centered">
      МТС: 80291550999
    </div>
  </div>
</div>