<br/>
<div class="panel row">
  <%= form_for post do |f| %>
      <div class="col-lg-3">
        <div class="row">
          <img class="upload_widget_opener" id="<%= post.id %>" src="<%= post.image %>" width="100px" height="100px">
        </div>
        <div class="row">
          <br/><%= f.submit 'Сохранить', class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="input-group input-group-lg">
          <%= f.text_field :image, id: "#{post.id}_field", type: 'hidden' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="input-group input-group-lg">
          <%= f.text_area :body, class: 'form-control' %>
        </div>
      </div>
  <% end %>

</div>